.container {
    width: 98%;
    max-width: 640px;
    margin: auto;
    margin-top: 20px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.language-title {
    text-align: center;
}

.language-container{
    gap: 1rem;
}


.container hr {
    height: 2px;
    border: none !important;
    background: #707070;
}

.container h2 {
    font-size: 24px;
    font-weight: 500;
}

.container ul {
    padding: 0;
    list-style-type: none;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 200px;
    height: 50px;
    background: #553f9a;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.container .index {
    text-align: center;
    font-size: 16px;
}

.container .correct {
    background: #dffff2;
    border-color: #00d397;
}

.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
}

@media (min-width: 480px) {
    .container {
        padding: 30px 40px;
    }

    .container h2 {
        font-size: 27px;
    }

    .container ul li {
        height: 60px;
        font-size: 20px;
    }

    .container button {
        width: 220px;
        height: 55px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 40px 50px;
    }

    .container ul li {
        height: 70px;
        font-size: 22px;
    }

    .container button {
        width: 250px;
        height: 65px;
        font-size: 22px;
    }

    .container .index {
        font-size: 18px;
    }
}